* {
	transition: all 0.4s;
	color: #4a372a;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
	margin-top: 6%;
	background-color: #fefbf7ff;
}

#poemDay{
	background-color: #f4f0ebff;
	padding: 10%;
	margin-bottom: 5%;
	word-wrap: break-word;

}

.flex-equal>* {
	-ms-flex: 1;
	/*  */
	flex: 1;
	/*  */
}

@media (min-width: 768px) {
	.flex-md-equal>* {
		-ms-flex: 1;
		flex: 1;
	}
}
